
  @import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat+Alternates:ital,wght@0,100;1,400&family=Montserrat:ital,wght@0,100;0,500;1,500&family=Work+Sans:ital,wght@1,200&display=swap');


*{

    margin: 0;
    box-sizing: border-box;
    padding: 0;
}


.bg{
    background-image: url(images/brown_mountains_display.jpeg);
    
}
.wrapper{
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
}
.contents{
    height: 100vh;
    color: black;
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:10% 10% 50% 20% ;
    text-align: center;
    gap: 20px;  
    justify-content: center;
    font-family: 'Indie Flower', cursive;
    
}
.navbar{
    grid-column: span 2;
    background-color: wheat;
    height: 40px;
    justify-items: center;
    
}
.header{
    grid-column: span 2;
    justify-content: center; 
    backdrop-filter: blur(5px);
    border-radius: 40px;
    font-size: 15px;
    width: fit-content;
    background-color: #3C2A21;
    color: white;
    place-self: center;
    padding: 10px;
}
 #rps{
    background-color: none;
}
.user{
    
    background-color:rgba(167, 167, 167, 0.127) ;
    backdrop-filter: blur(5px);
    border-radius: 40px;
    margin-left: 50px;
    
}
.computer{
    
    background-color:rgba(167,167,167,0.127) ;
    backdrop-filter: blur(2px);
    border-radius: 40px;
    pointer-events: none;
    margin-right: 50px;
    
}
h4{
    font-size:  30px;
    margin-top: 20px;    
}
h1{
    background-color:#3C2A21;
    color: white;
    border-radius: 20px;
    padding: 10px;
}
.choice {
    margin: 10px;
    font-size: 60px;
    cursor: pointer;
    background: none;
    border: none;
    transition: all .2s ease;
    border-radius: 50%;
    
}

#scissor{
    transform: rotate(-90deg);
}
.choice:hover, #scissor:hover{

    transform: scale(1.5);
}
.menu{
    
    grid-column: span 2;
    
}
.menu button:hover{
    transform:scale(1.2);
    background-color:wheat;
    color: black;
}

.menu button{
    background-color: black;
    color: white;
    border: none;
    height: 40px;
    width: 100px;
    cursor: pointer;
    border-radius: 20px;
    transition: all .3s ease;
}

.userscore , .computerscore{
    padding: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    height:50px;
    text-decoration: underline;
    
}
#choose{
    color: black;
    background-color: #776B5D;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}   